name: Build Auto Ominous

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build
        run: gradle build --no-daemon

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: auto-ominous-jar
          path: build/libs/*.jar